.shops-container,
.shops-outer-title,
.shops-list{
	width: 100%;
	overflow: hidden;
}
.shops-container{
	padding-bottom: 2.5rem;
}
.shops-outer-title{
	font-size: 0.7rem;
	font-weight: bolder;
	text-align: center;
}
.shops-line{
	display: inline-block;
	width: 1.5rem;
	height: 0.05rem;
	border-bottom: 1px solid #000;
	vertical-align: 0.25rem;
}
.shops-list{
	padding-top: 1.0rem;
}
.shops-item{
	position: relative;
	width: 100%;
	padding: 0 0.5rem 0.5rem;
	color: #656565;
	display: flex;
	
}
.shops-img{
	width: 4.3rem;
	height: 3.25rem;
	border: 1px solid #e4e4e4;
}
.shops-tag{
	position: absolute;
	top: 0;
	left: 0.5rem;
	font-size: 0.6rem;
	color: #fff;
}
.shops-brand{
	background-color: orange;
}
.shops-newShop{
	background-color: green;
}
.shops-info{
	margin-left: 0.25rem;
	flex: 1;
}
.shops-title{
	font-size: 0.8rem;
	font-weight: bolder;
	margin-bottom: 10px;
}
.shops-price,
.shops-detail,
.shops-price{
	font-size: 0.7rem;
	margin-bottom: 10px;
}
.shops-promotion{
	font-size: 0.7rem;
}
.shops-stars,
.shops-sales{
	float: left;
}
.shops-sales{
	margin-left: 0.25rem;
}
.shops-distance,
.shops-time{
	float: right;
}

.shops-promotion-item{
	font-size: 0.6rem;
	margin-bottom: 10px;
}
.shops-promotion-img{
	width: 0.6rem;
	height: 0.6rem;
	vertical-align: -0.1rem;
	margin-right: 0.25rem;
}
.shops-promotion-text{
	display: inline-block;
	width: 12.25rem;
}
.shops-loading{
	padding: 0.5rem 0;
	text-align: center;
	font-size: 0.8rem;
	color: gray;
}
